.btn {
  padding: 10px 20px;
  cursor: pointer;
}

.btn-secondary {
  color: #004aad;
  background-color: white;

  border: 1px solid #004aad;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;
}
