.company {
  padding: 80px 40px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.company h1 {
  text-align: center;
  font-size: 40px;
}

.company > .company-list {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.company > .company-list img {
  width: calc(25% - 48px);
  height: 50px;
  object-fit: contain;
  object-position: center;
}
