footer {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.right-footer {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.right-footer h3 {
  margin-bottom: 28px;
}
.right-footer ul {
  list-style: none;
}

.right-footer ul li {
  margin-bottom: 8px;
}

@media only screen and (min-width: 560px) {
  footer {
    flex-direction: row;

    padding: 40px 80px;
  }
  .left-footer {
    width: 40%;
  }
  .right-footer {
    width: 60%;
  }
}

@media only screen and (min-width: 1064px) {
  footer {
    padding: 40px 160px;
  }
  .left-footer {
    width: 30%;
  }
  .right-footer {
    width: 60%;
  }
}
