.header {
  background: linear-gradient(90deg, #004aad, #4686d8);
}

.header-content {
  padding: 120px 40px;
  width: 100%;
  background-image: url("../images/header-image.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 90% auto;
  min-height: 100vh;
}

.header-content > * {
  margin-bottom: 32px;
}

.header-content h1 {
  font-size: 48px;
  color: white;
}

.header-content ul {
  font-size: 20px;
  color: white;
  padding-left: 20px;
}

.header-content ul li {
  margin-bottom: 20px;
}

@media only screen and (min-width: 560px) {
  .header-content {
    background-size: 80% auto;
  }
}

@media only screen and (min-width: 1067px) {
  .header-content {
    background-size: 60% auto;
    min-height: 80vh;
  }
}
